/* Threadiverse Bootstrap theme (light) */
/* Made with https://bootstrap.build/app */

$white: #ffffff;
$gray-100: #c0c0c0;
$gray-200: #b0b0b0;
$gray-300: #a0a0a0;
$gray-400: #909090;
$gray-500: #808080;
$gray-600: #707070;
$gray-700: #606060;
$gray-800: #505050;
$gray-900: #404040;
$enable-rounded: false;
$blue: rgb(2, 103, 250);
$indigo: rgb(16, 132, 242);
$purple: rgb(139,19,253);
$pink: rgb(252, 72, 154);
$red: rgb(250,25,2);
$orange: rgb(253,139,19);
$yellow: rgb(253,217,19);
$green: rgb(1, 177, 41);
$teal: rgb(5, 250, 178);
$cyan: rgb(2, 187, 226);
$warning: $orange;
$yiq-contrasted-threshold: 200;
