/* Threadiverse Bootstrap theme (dark) */
/* Made with https://bootstrap.build/app */

$white: #202020;
$gray-100: #404040;
$gray-200: #505050;
$gray-300: #606060;
$gray-400: #707070;
$gray-500: #808080;
$gray-600: #909090;
$gray-700: #a0a0a0;
$gray-800: #b0b0b0;
$gray-900: #c0c0c0;
$black: #e0e0e0;
$enable-rounded: false;
